/* Basic styles */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-weight: 900;
  font-size: 10px;
  color: #333333;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

body {
  min-height: calc(100vh - 100px);
  margin: 50px;
  letter-spacing: -1px;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #ffeead;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

.grid-item {
  /* We center the contents of these items. You can also do this with flexbox too! */
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 35px;
  background-color: #ff6f69;
  color: #ffeead;
}

.item p {
  margin: 0 0 5px 0;
}

.container {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background-color: #ff6f69;
  border: 4px solid #000;
  margin-bottom: 10px;
}
