@import url(./basic-styles.css);

/* lesson styles */

.container {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(3, 150px);
  border: 10px solid #000;
  /* justify-items: start; */
  /* justify-content: space-between; */
}

.item-4 {
  justify-self: start;
  align-self: start;
}
